/* ~~~ the section we will change for our class notes to apply flexbox / grid starts here! ~~~ */

/* ~~ this is where we apply flexbox styling ~~ */

/* #my_flexbox{
    display:flex;
}

.info_card{
    width:20vw;
}

#info_1{
    flex-grow: .4;
    order:1;
} */

#my_flexbox{
    display: flex;
    /* justify-content: center, flex-start, flex-end, space-around, space-between */
    justify-content: space-around;
    /* align-items: center, flex-start, flex-end, stretch, baseline */
    align-items: stretch;
    /*  */
    flex-wrap: wrap;
}

.info_card{
    width: 20vw;
}

#info_1{
    flex-grow: 0.4;
    order:1;
}


/* ~~ this is where we apply grid styling ~~ */

/* #my_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

#my_grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 2 fr 1fr;
    width: 100vw;
    /* justify-content: space-evenly, space-around, space-between, center, start, end */
    /* align-content: center, space-evenly, space-around, space-between, start, end */
}